{% extends "base.html" %}
{% block content %}
<div class="card-body">
    <h4>Liste des Auteurs</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Prenom</th>
                <th scope="col">Nom</th>
                <th scope="col">age</th>
                <th scope="col">Photo</th>
                <th scope="col">Action</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for auteur in auteurs %}
            <tr>
                <td>{{ auteur.prenom }}</td>
                <td>{{ auteur.nom }}</td>
                <td>{{ auteur.age }}</td>
                <td>{% if auteur.photos %}
                    <img src="{{ auteur.photos.url }}" alt="{{ auteur.nom }}" style="max-height:150px">
                {% else %}
                    Pas de photo disponible
                {% endif %}</td> 
                <td>
                    <a type="button" class="btn btn-warning" href="{% url 'update_auteur' auteur.id %}">Modifier</a>
                    <form action="{% url 'delete_auteur' auteur.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                    <a type="button" class="btn btn-success" href="{% url 'display_auteur' auteur.id %}">Affiche</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <section class="table">
        <a type="button" class="btn btn-success" href="{% url 'create_auteur' %}">Créer</a>
    </section>
</div>
{% endblock %}
